@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/FiraCodeMedium.ttf");
  font-family: "Fira Code";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/FiraCodeRegular.ttf");
  font-family: "Fira Code";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/FiraCodeSemiBold.ttf");
  font-family: "Fira Code";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/FingerPaintRegular.ttf");
  font-family: "Finger Paint";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/FiraCodeBold.ttf");
  font-family: "Fira Code";
  font-weight: 700;
}
