/* ProjectsSection.css */
.scroll-parent {
  position: relative;
  overflow: hidden;
  height: 100vh; /* Adjust as needed */
}

.scroll-element {
  position: absolute;
  width: 100%;
  height: 100%;
}

.primary {
  animation: primary 10s linear infinite;
}

.secondary {
  animation: secondary 10s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.fixed-heading {
  position: sticky;
  top: 0;
  background-color: #1a202c; /* Adjust as needed */
  z-index: 10;
  padding: 1rem;
}

.project-item {
  margin-bottom: 1rem; /* Adjust as needed */
}

.project-description {
  transition: transform 0.3s ease;
}

.project-description:hover {
  transform: scale(1.05);
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the button */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}